$ff-poppins: 'Poppins', sans-serif;

$color-black: #000;
$color-grey: #222;
$color-shadow: rgba(0, 0, 0, 0.2);
$color-shadow-white: rgba(255, 255, 255, 0.8);
$color-white: #fff;
$color-orange: #ffb02e;

$defaultTransition: 0.3s ease;
